/** @format */

@import "tailwindcss";

* {
  user-select: none;
}

*:focus {
  outline: none;
}

:root {
  --text-color: #00000000;
  --hover-color: #00000000;
  --border-color: #00000000;
  --accent-color: #00000000;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
